@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-color: #F0F0F0;
}

header {
    text-align: center;
}

.wheel-of-life {
    margin: 0 auto;
}

.chart {
    max-width: 700px;
    margin: 0 auto;
    background-color: #F0F0F0;
    padding: 50px;
}

.categories {
    max-width: 1200px;
    margin: 0 auto;
}

.category {
    margin-top: 40px;
}

.category .options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    /* Ou a largura que desejar dividida pelo número de itens */
    gap: 40px;
}

.category h3 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

.category h3.no-span {
    display: table;
    white-space: nowrap;
}

.category h3.no-span:before,
.category h3.no-span:after {
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}

.category.life h3.no-span:before,
.category.life h3.no-span:after {
    border-top: 1px solid #7ea34b;
}

.category.personal h3.no-span:before,
.category.personal h3.no-span:after {
    border-top: 1px solid #F4A8AA;
}

.category.profissinal h3.no-span:before,
.category.profissinal h3.no-span:after {
    border-top: 1px solid #57b8f0;
}

.category.relation h3.no-span:before,
.category.relation h3.no-span:after {
    border-top: 1px solid #C6AAD2;
}

.category h3.no-span:before {
    right: 1.5%;
}

.category h3.no-span:after {
    left: 1.5%;
}

.category .options .aspect {
    padding: 0 20px;
}

.category .options .aspect .title {
    font-size: 16px;
    font-weight: bold;
}

.category .options .aspect .description {
    line-height: 26px;
    text-align: justify;
}

.rating-button {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
}

.life .rating-button.active,
.life .rating-button.active:hover {
    background-color: #7ea34b;
}

.personal .rating-button.active,
.personal .rating-button.active:hover {
    background-color: #F4A8AA;
}

.profissinal .rating-button.active,
.profissinal .rating-button.active:hover {
    background-color: #57b8f0;
}

.relation .rating-button.active,
.relation .rating-button.active:hover {
    background-color: #C6AAD2;
}

.rating-button:hover {
    background-color: #ddd;
}

footer {
    background-color: #D3CAC1;
    margin-top: 150px;
    padding: 40px;
    text-align: center;
}

footer .social {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 64px;
    margin: 0 auto;
}

footer .social a {
    cursor: pointer;
}

footer .social svg g:hover {
    fill: #66625d;
}

/* CSS */
.button-61 {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px, rgba(0, 0, 0, .14) 0 2px 2px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
    background: #D3CAC1;
    cursor: pointer;
}

.button-61:hover {
    background-color: #ad9f91;
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-61:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #D3CAC1;
}